@using UMS_PlaneBooking.Models;
@model IEnumerable<Passenger>

@{
    ViewData["Title"] = "Passengers";
    var flights = ViewData["Flights"] as List<Flight>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Passenger</title>
    <link href="~/css/table.css" rel="stylesheet" />
</head>
<body>
    <div class="col-12 mt-3">
        <div class="row">
            <div class="col-6 mb-1 p-0">
                <h2 class="table-title">Manage Passenger</h2>
            </div>
            <div class="col-6 d-flex justify-content-end mb-1 p-0">
                <a href="#" id="openAddPassengerModal" class="btn btn-success">
                    <i class="material-icons">&#xE147;</i> <span>Add New Passenger</span>
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped" id="tblPassenger">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Passenger Name</th>
                <th>Flight</th>
                <th class="text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                int index = 1;
                foreach (var passenger in Model)
                {
                    <tr>
                        <td class="bookingId">
                            <span>@passenger.BookingID</span>
                            
                        </td>
                        <td class="passengerName">
                            <span>@passenger.PassengerName</span>
                            <input type="text" id="@passenger.BookingID" value="@passenger.PassengerName" style="display:none" />
                        </td>
                        <td class="flightCode">
                            <span>@passenger.Flight.FlightCode</span>
                            <input type="text" id="@passenger.Flight.FlightID" value="@passenger.Flight.FlightCode" style="display:none" />
                        </td>
                        <td class="text-center">
                            <a class="btn btn-primary btn-sm edit" href="javascript:;">Edit</a>
                            <a class="btn btn-primary btn-sm update" href="javascript:;" style="display:none">Update</a>
                            <a class="btn btn-primary btn-sm cancel" href="javascript:;" style="display:none">Cancel</a>
                            <a class="btn btn-primary btn-sm delete" href="javascript:;">Delete</a>
                        </td>
                    </tr>
                    index++;
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No flights found.</td>
                </tr>
            }
        </tbody>
    </table>
    @*Add new Flight*@
    <div id="addPassengerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addPassengerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="addPassengerForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPassengerModalLabel">Add Passenger</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="PassengerName">Passenger Name</label>
                            <input type="text" class="form-control" id="PassengerName" required>
                        </div>
                        <div class="input-group mt-3">
                            <select class="custom-select" id="inputGroupSelect01" required>
                                <option selected>Choose Flight</option>
                                @foreach (var flight in flights)
                                {
                                    <option value="@flight.FlightID">@flight.FlightCode</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    <script src="~/js/Passenger.js"></script>
}
